* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #fff;
    color: #000;
  }
  
  .website-background {
    margin-top: 1em;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(orange, yellow);
    background-position: center center;
    background-size: cover;
    position: absolute;
    
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  ul {
    list-style: none;
  }
  
  .main-header {
    background-color: green;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 100px;
    padding: 0 30px;
  }
  
  .desktop-main-menu {
    margin-right: 50px;
  }
  
  .desktop-main-menu ul {
    display: flex;
  }
  
  .desktop-main-menu ul li {
    position: relative;
    margin-right: 20px;
    padding-bottom: 2px;
  }
  
  .line-names {
    color: green;
    text-align: center;
  }
  
  .show-orders {
    align-self: right;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }
  
  .show-orders .draggable {
    display: inline-block;
    border: 1px solid black;
    cursor: move;
  }
  
  .draggable .dragging {
    opacity: .5;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .buttons button {
    width: 150px;
    height: 50px;
    font-size: 18px;
    margin: 0 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #fff;
    color: green;
    border: 2px solid green;
  }
  
  .production-list {
    float: left;
    width: 33.33%;
    text-align: center;
  }
  
  .select-container {
    display: flex;
    align-items: center;
  }
  
  #productionLineSelect {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin: 0 20px 20px 0;
  }
  